{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if is_client %}
        {% if firm %}
          {{ firm.name }}
        {% else %}
          BetaSmartz
        {% endif %}
      {% else %}
        BetaSmartz
      {% endif %}
    </title>

    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/dt-1.10.12/datatables.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,400italic" rel="stylesheet">

    {# bootstrap css #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="{% static 'vendor/theme/dist/toolkit-light.css' %}" rel="stylesheet">
    <link href="{% static 'css_new/app.css' %}" rel="stylesheet">

    <script type="application/javascript">
      window.betasmartz = {};
    </script>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/dt-1.10.12/datatables.min.js"></script>
    <script type="text/javascript" src="{% static "js/autologout.js" %}"></script>

    {% block head_js %}{% endblock %}
    {% block css %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% include "partials_new/dialogs.html" %}

    {% include "partials_new/header.html" %}

    <div class="m-t">
      {% include "partials_new/flashes.html" %}
    </div>

    {% block main_content %}
    {% endblock %}

    {% include "partials_new/footer.html" %}
  </body>

  {% block scripts %}
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/Chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/theme/dist/toolkit.min.js' %}"></script>

    <script src="{% static 'js_new/app.js' %}"></script>
  {% endblock %}
  {% block foot_js %}{% endblock %}
</html>
