<footer class="footer">
    <div class="main-content">
        <section class="fineprint">
            <figure class="betterment-logo"></figure>
            <figcaption>&copy; Betterment LLC</figcaption>

            <p class="pad">When you initiate transactions in your Betterment account you agree to Betterment's
                <a target="_blank" href="https://www.betterment.com/about/legal" alt="Terms" title="Terms">Terms &amp; Conditions</a>.</p>

            <p><strong>This website is operated and maintained by Betterment LLC, an SEC Registered Investment Advisor.</strong></p>

            <p>Brokerage services provided to clients of Betterment LLC by
                <a href="http://www.bettermentsecurities.com/" target="_blank">Betterment Securities</a>, an SEC registered broker-dealer and member
                <a href="http://www.finra.org/" target="_blank">FINRA</a>/<a href="http://www.sipc.org/" target="_blank">SIPC</a>.</p>

            <p>Investments: Not FDIC Insured &bull; No Bank Guarantee &bull; May Lose Value. Investing in securities involves risks, and there is always the
                potential of losing money when you invest in securities. Before investing, consider your investment objectives and Betterment's charges and
                expenses. Past performance does not guarantee future results, and the likelihood of investment outcomes are hypothetical in nature. See full
                disclosures for more information. Not an offer, solicitation of an offer, or advice to buy or sell securities in jurisdictions where Betterment
                is not registered. </p>

            <p class="pad">Betterment and the Betterment Speedometer are trademarks of Betterment Holdings, Inc.</p>
        </section>
    </div>
</footer>

