<!DOCTYPE html>
<html>
<head>
<title>
    {% if is_client %}
        {% if firm %}
            {{ firm.name }}
        {% else %}
            BetaSmartz
        {% endif %}
    {% else %}
        BetaSmartz
    {% endif %}
</title>


    <link href="{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link data-turbolinks-track="true" href="{{ STATIC_URL }}css/app.css" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="{{ STATIC_URL }}css/jquery-ui.min.css" media="all" rel="stylesheet" />
    <script data-turbolinks-track="true" src="{% block main_js %}{{ STATIC_URL }}js/app.js{% endblock %}"></script>
    <script data-turbolinks-track="true" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
{{ csrf_meta }}
</head>
<body class="{% block body_class %}{% endblock %}">
<script>
  if ($.browser.msie) {
    $('body').addClass('ie');
  }
</script>
{% include "partials/header.html" %}

{% if is_advisor_view %}
    <nav class="nav-bar advisor-nav">
        <div>
            <ul>
                <li class="{% block nav_summary %}{% endblock %}">
                    <a href="/advisor/summary">Summary</a>
                </li>
                <li class="{% block nav_clients %}{% endblock %}">
                    <a href="/advisor/clients">Clients</a>
                </li>

                <li class="{% block nav_agreements %}{% endblock %}">
                    <a href="/advisor/agreements">Agreements</a>
                </li>
                <li class="{% block nav_invites %}{% endblock %}">
                    <a href="/advisor/client_invites">Invites</a>
                </li>
                <li class="{% block nav_support %}{% endblock %}">
                    <a href="/advisor/support">Support</a>
                </li>
            </ul>
        </div>
    </nav>

{% elif is_legal_view %}
    <nav class="nav-bar">
        <div>
            <ul>
                <li class="{% block firm_nav_summary %}{% endblock %}">
                    <a href="/firm/summary">Summary</a>
                </li>
                <li class="{% block firm_nav_advisor_invites %}{% endblock %}">
                    <a href="/firm/advisor_invites">Advisor Invites</a>
                </li>
                <li class="{% block firm_nav_supervisor_invites %}{% endblock %}">
                    <a href="/firm/supervisor_invites">Supervisor Invites</a>
                </li>
                <li class="{% block firm_nav_support %}{% endblock %}">
                    <a href="/firm/support">Support</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}




{% include "partials/flashes.html" %}
<div class="main-content">
{% block main_content %}
{% endblock %}
</div>

{% include "partials/footer.html" %}
</body>
</html>