<!DOCTYPE html>
<html>
<head>
<title>BetaSmartz</title>
    <link href="{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link data-turbolinks-track="true" href="{{ STATIC_URL }}css/client/app.css" media="all" rel="stylesheet" />
</head>
<body class="advised-user">

{% include "partials/form-header.html" %}
{% include "partials/flashes.html" %}


<div class="clearfix" style="position: relative; margin-bottom: 40px;">
    <section id="mainContent">
            {% block main_content %}
            {% endblock %}
    </section>
</div>


{% include "partials/form-footer.html" %}
</body>
</html>