{% extends 'layouts_new/base.html' %}

{% block main_content %}
<div class="container">
<button onclick="goBack()" class='btn btn-primary pull-right'>Back</button>
<h1>Privacy Policy</h1>
Effective September 2016

<h2>What does BetaSmartz do with your personal information?</h2>

<p>Financial companies choose how they share your personal information. Federal law gives consumers the right to limit some but not all sharing. Federal law also requires us to tell you how we collect, share, and protect your personal information. Please read this notice carefully to understand what we do.</p>

<p>The types of personal information we collect and share depend on the product or service you have with us. This information can include:
	<ul>
		<li>Social Security number and income</li>
		<li>Account balances and transaction history</li>
		<li>Investment experience and assets</li>
	</ul>
</p>

<p>All financial companies need to share customers' personal information to run their everyday business. In the section below, we list the reasons financial companies can share their customers' personal information; the reasons BetaSmartz chooses to share; and whether you can limit this sharing.</p>

<table>
	<tr>
		<th>
			Reasons we can share your personal information
		</th>
		<th>
			Does BetaSmartz share?
		</th>
		<th>
			Can you limit this sharing?
		</th>
	</tr>
	<tr>
		<td>For our everyday business purposes – such as to process transactions, maintain your account(s), respond to court orders and legal investigations, or report to credit bureaus</td>
		<td>YES</td>
		<td>NO</td>
	</tr>
	<tr>
		<td>For our marketing purposes— to offer our products and services to you</td>
		<td>YES</td>
		<td>NO</td>
	</tr>
	<tr>
		<td>For joint marketing with other financial companies</td>
		<td>NO</td>
		<td>We don’t share</td>
	</tr>
	<tr>
		<td>For our affiliates' everyday business purposes— information about your transactions and experiences</td>
		<td>YES</td>
		<td>NO</td>
	</tr>
	<tr>
		<td>For our affiliates' everyday business purposes – information about your creditworthiness</td>
		<td>YES</td>
		<td>YES</td>
	</tr>
	<tr>
		<td>For our affiliates to market to you</td>
		<td>YES</td>
		<td>YES</td>
	</tr>
	<tr>
		<td>For nonaffiliates to market to you</td>
		<td>NO</td>
		<td>We don’t share</td>
	</tr>
</table>


<h2>To limit our sharing</h2>
Email us at <a href="mailto:support@betasmartz.com">support@betasmartz.com</a>.

Please note:
<p>If you are a new customer, we can begin sharing your information 30 days from the date we sent this notice. When you are no longer our customer, we continue to share your information as described in this notice. However, you can contact us at any time to limit our sharing.</p>

<h2>Who is providing this notice?</h2>
BetaSmartz Advisory LLC (also "BetaSmartz") and its affiliates. See list of affiliates below.

<h2>How does BetaSmartz protect my personal information?</h2>
To protect your personal information from unauthorized access and use, we use security measures that comply with federal law. These measures include computer safeguards and secured files and buildings. 

<h2>How does Schwab collect my personal information?</h2>
<p>
	We collect your personal information, for example, when you 
	<ul>
		<li>open an account or give us your income information</li>
		<li>seek advice about your investments or tell us about your investment or retirement portfolio</li>
		<li>make deposits or withdrawals from your account</li>
	</ul>
	We also collect your personal information from others, such as credit bureaus, affiliates, or other companies.
</p>

<h2>Why can't I limit all sharing?</h2>
<p>
	Federal law gives you the right to limit only
	<ul>
		<li>sharing for affiliates' everyday business purposes— information about your creditworthiness</li>
		<li>affiliates from using your information to market to you</li>
		<li>sharing for nonaffiliates to market to you</li>
	</ul>
	State laws and individual companies may give you additional rights to limit sharing. See below for more on your rights under state law.
</p>

<h2>What happens when I limit sharing for an account I hold jointly with someone else?</h2>
<p>Your choices will apply to everyone on your account.</p>

<h2>Definitions</h2>
<p><b>Affiliates</b>. Companies related by common ownership or control. They can be financial and nonfinancial companies. 
Our affiliates include companies with a BetaSmartz name; financial companies such as BetaSmartz Global Pte. Ltd., and BetaSmartz Pty Ltd.</p>

<p>
<b>Nonaffiliates</b>. Companies not related by common ownership or control. They can be financial and nonfinancial companies.
	<ul><li>BetaSmartz does not share with nonaffiliates so they can market to you.</li></ul>
</p>

<p>
<b>Joint marketing</b>. A formal agreement between nonaffiliated financial companies that together market financial products or services to you.
	<ul><li>BetaSmartz doesn't jointly market.</li></ul>
</p>

<h2>Other important information</h2>
<h2>State and International Laws</h2>
<p>If you are a Vermont resident, we will automatically limit sharing of your information. Nevada law requires us to disclose that you may request to be placed on BetaSmartz’s internal "do not call" list at any time by emailing <a href="mailto:support@betasmartz.com">support@betasmartz.com</a>, and that we are providing this notice to you pursuant to state law, and that you may obtain further information by contacting the Nevada Attorney General, 555 E. Washington Ave., Suite 3900, Las Vegas, NV 89101; phone 702-486-3132; email <a href="mailto:BCPINFO@ag.state.nv.us">BCPINFO@ag.state.nv.us</a>.</p>
</div>
{% endblock %}


{% block foot_js %}
<script type='text/javascript'>
	function goBack() {
		window.history.back();
	}
</script>
{% endblock %}