{% extends "layouts_new/base.html" %}

{% load i18n filters %}

{% block main_content %}
  <div class="container">
    {% include "advisor/logo.html" %}

    <div class="row">
      <div class="col-sm-9">
        <div>
          {% include "advisor/partials/menu-clients.html" %}
        </div>
      </div>
      <div class="col-sm-3 text-sm-right">
        <div class="form-group">
          <a class="btn btn-primary-outline" href="{% url 'advisor:clients:invites-new' %}">Invite client</a>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Email</th>
              <th>Sent date</th>
              <th class="text-xs-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for invite in invites %}
              {% if invite.get_status_name != "Active" %}
                <tr>
                  <td><a href="mailto:{{ invite.email }}">{{ invite.email }}</a></td>
                  <td>{{ invite.sent_date|date:'d/m/y'|default:"Never sent" }}</td>
                  <td class="text-xs-right">
                    {% if invite.can_resend %}
                      <form method="post" action="{% url "advisors:clients:invites-resend" invite.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary-outline btn-xs">Resend</button>
                      </form>
                    {% else %}
                        {{ invite.get_status_name }}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% empty %}
              <tr>
                <td colspan="4" class="text-center">
                  No entries
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
{% endblock %}
