@import 'nib'
global-reset()
@import "vendors/animate.css"
@import "vendors/angular-material.css"

html {
  font-family: 'Roboto', MuseoSans,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.md-select-menu-container {
  z-index: 99999;

}
.app-header{
  box-shadow: 0 0 10px 0;
}
  .app-body{

  }

  /*
  * Modal
  */

.modal-header .modal-title{
  padding-bottom:20px;
  font-family: 'Ubuntu', 'Roboto', MuseoSans,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: capitalize;

}
form.modal-form{
  .form-content{
    width 50%;
    min-width 600px;
    margin:auto;
  }

}

.modal-body{
  padding-top: 30px;
}

.card{
  margin:10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  border-radius: 4px;
  margin-bottom: 16px;
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;

}
.card-content{
  padding: 16px;
}
.account-settings{
  margin-top 15px;
}
/************************************
 * Close button
************************************/
#closebt-container {
  position: relative;
  width:100%;
  text-align:center;
  padding-top:20px;
  padding-bottom:40px;
}

.closebt {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor:pointer;
}

.closebt:hover {
  transform:rotate(90deg);
}

#item > p  {
  margin:0px;
  color:#E74B3D;
}


/************************************
 * global-progress-bar
************************************/
.global-progress-bar{
  z-index: 99999;
  position: fixed;
  height: 5px;
  width: 100%;
}

.global-progress-bar{
    md-progress-linear {
      box-shadow: 0 0 5px 0;
    }
  }

.global-progress-bar.ng-hide{
  animation: fadeOut 0.5s;
}
.global-progress-bar.ng-hide-add{
  animation: fadeIn 0.5s;
}

/*
*  sub-tabs
*/
.main-nav{
  .md-tab {
    font-family: 'Ubuntu', 'Roboto', MuseoSans,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;

  }
}
