@import 'nib'
global-reset()
@import "vendors/animate.css"
@import "vendors/angular-material.css"

html {
  font-family: 'Roboto', MuseoSans,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.md-select-menu-container {
  z-index: 99999;
}
  /*
  * Modal
  */

.modal-header .modal-title{
  padding-bottom:20px;
}
form.modal-form{
  .form-content{
    width 50%;
    min-width 600px;
    margin:auto;
  }

}

.modal-body{
  padding-top: 30px;
}



/************************************
 * Close button
************************************/
#closebt-container {
  position: relative;
  width:100%;
  text-align:center;
  padding-top:20px;
  padding-bottom:40px;
}

.closebt {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor:pointer;
}

.closebt:hover {
  transform:rotate(90deg);
}

#item > p  {
  margin:0px;
  color:#E74B3D;
}