

    .keyword-to-tooltip-lite-1 {
      color: #dd3333;
    }

    .keyword-to-tooltip-lite-tip-1 {
      background: #dd9933;
      {custom_advanced_animation_settings}
    }

    .keyword-to-tooltip-lite-tip-1:after {
      border-top: 10px solid #dd9933;
    }

    .keyword-to-tooltip-lite-tip-1.top:after {
      border-bottom: 10px solid #dd9933;
    }
  