{% extends "layouts/base.html" %}
{% load app_filters %}
{% load i18n %}
{% block main_js %}{{STATIC_URL}}js/application-1782c815118e7220b74c97651eab3e9b.js{% endblock %}
{% block body_class %}client_invites_build show {% endblock %}
{% block nav_clients %}depressed {% endblock %}
{% block main_content %}


<div class="client-invite client-invite-confirm">
    <div class="header" style="padding-top: 25px; padding-bottom: 0px;">
   <a style="text-decoration: none;" href="/advisor/client/{{client.pk}}"><span class="modern-icon">›</span> back to client details</a>
</div>

    <h1>Confirm New Account for {{ client.full_name }}</h1>

    <p class="main-body">Your client will receive an email from you to login and confirm opening of the new account. Once confirmed, the account will be opened and ready for funding.</p>

    <h2>New Account for {{ client.full_name }}</h2>

    <div class="attributes">
            <div class="attr">
                    <label>Account Type</label>
                    <p>{{ account_type_name }}</p>
                </div>

    </div>
    <div class="controls">
        <form accept-charset="UTF-8" action="" class="simple_form edit_client_invite" id="edit_client_invite_1466" method="post" name="edit_client_invite_1466" novalidate="novalidate">
            <div style="display:none">
                {% csrf_token %}
                <input type="hidden" name="account_class" value="{{ account_class }}">
                <input type="hidden" name="primary_owner" value="{{ client.pk }}">
            </div>
            <input name="commit" type="submit" value="Email to client for review">
             <a class="secondary-button cancel" href="/advisor/client/{{client.pk}}">Cancel</a>
        </form>

    </div>
</div>

{% endblock %}



