{% extends "layouts/base.html" %}
{% load i18n %}
{% load  app_filters %}

{% block nav_agreements %} depressed {% endblock %}
{% block main_content %}
{% include "advisor/firm-logo.html" %}
<div class="client-agreement-signatures">
    <div class="intro">
        <p>
        Below is a list of clients that have electronically executed your advisory agreement.
        If you would like to add or update your agreement, please email a PDF of your advisory agreement to <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>.
        To learn more about this feature please visit our [Client Agreement|create hyperlink] page.

        </p>
        </br>
        <p>
        This list does not include your clients who signed up while your firm had no active agreement.
        </p>
    </div>

    <section class="client-agreement-signature-panel">
        <div class="header">
            <h2>Client agreements</h2>
        </div>
        <div class="body">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date executed</th>
                    <th>Agreement</th>
                </tr>
                </thead>
                <tbody>
                {% for client in profile.clients.all %}
                    <tr>
                        <td>{{ client.full_name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.create_date |b_date}}</td>
                        <td><a href="{{ MEDIA_URL }}{{ client.client_agreement }}" target="_blank">View</a></td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </section>

    <section class="footnotes">
    <ul>

        <li>This list does not include your clients who signed up while your firm had no active agreement.</li>
        <li>'Date executed' means the date on which the client electronically signed your advisory agreement.</li>
        <li>The agreements made available on this page are the agreements between you and your client
            that your client executed electronically through BetaSmartz's technology on the date provided.
            If you and your client have updated and/or amended your agreement, the version provided on this page
            will no longer be accurate. BetaSmartz has no responsibility for storing and/or making available any
            subsequently updated and/or amended agreements that you may have entered into with your clients outside
            of BetaSmartz's technology. BetaSmartz has not reviewed your agreements with your clients and takes no
            responsibility for the contents of those agreements. This file also contains the Know Your Client
            information gathered for your client. Should you wish to include an Agreement that has been executed
            or amended outside of BetaSmartz's technology than please email a copy to support@betasmartz.com.
        </li>
    </ul>
</section>


</div>
{% endblock %}



