{% extends "layouts/base.html" %}
{% load i18n %}
{% block main_js %}{{STATIC_URL}}js/application-1782c815118e7220b74c97651eab3e9b.js{% endblock %}
{% block nav_clients %}depressed {% endblock %}
{% block body_class %}client_invites_build show{% endblock %}
{% block main_content %}
<div class="client-invite client-invite-account-type">
    <div class="progress-header">
    <ul>
        <li class="">
            Select Account Process
        </li>
        <li class="depressed">
            Select Account Type
        </li>
        <li class="">
            Enter Client Details
        </li>
        <li class="">
            Confirm
        </li>
    </ul>
    <div class="progress-bar account-type"></div>
</div>

    <h1>What type of account are you creating?</h1>

    <p class="main-body">Select an account type to create on behalf of your new client.</p>

    <div class="split-view">
        <div class="account-type-selection">
            <form accept-charset="UTF-8" action="/advisor/client_invites/build/identity" class="simple_form edit_client_invite" id="edit_client_invite_2028" method="get" novalidate="novalidate">

                <input type="hidden" value="{{ invite_type_new_client }}" name="invite_type">
                <div class="input select optional client_invite_account_type"><label class="select optional control-label" for="client_invite_account_type">Account type</label><select class="select optional" id="client_invite_account_type" name="account_type"><option value="">Select Account Type</option>
<option value="joint_account">Joint Account</option>
<option value="trust_account">SMSF/Trust Account</option>
</select></div>
                <input class="btn submit" name="commit" type="submit" value="Continue" />
                
</form>        </div>
        <div class="frequently-asked-questions">
            <h4>Frequently Asked Questions</h4>

            <div class="accordion">
                
                <div class="question-header">
                    <hr>
                    <span class="title">Can I add more than one account at a time?</span>
                    <div class="down-arrow">”</div>
                </div>
                <div class="question-body">Currently, you can only open one account at a time for a client.</div>
            </div>
        </div>
    </div>
</div>
_
{% endblock %}

