{% extends "layouts/base.html" %}
{% load i18n %}
{% load app_filters %}
{% block nav_clients %} depressed {% endblock %}
{% block body_class %}clients show {% endblock %}

{% block main_content %}

<div class="clients-show">

    <div class="client-header">
        <div class="return-link">
            <span class="modern-icon">&#8250;</span>
            <a href="/advisor/clients">Back to Clients</a>
        </div>
        <div class="client-name">
            <h1>{{ client.full_name }}</h1>
        </div>
    </div>
    <div class="accounts-overview">
    <div class="header">
        <h2>Accounts Overview</h2>
    </div>
    <div class="client-details">
        <div class="panel">
            <h4>Total Balance</h4>
            <p>${{ client.total_balance |bs_big_number }}</p>
        </div>
        <div class="panel">
            <h4>Total Returns</h4>
            <p>{{ client.total_returns }}%</p>
        </div>
        <div class="panel">
            <h4>Total Allocation</h4>
            <p>{{ client.stocks_percentage }}% <span>Stocks</span> {{ client.bonds_percentage }}% <span>Bonds</span></p>
        </div>
    </div>

        <!-- Accounts -->
        <div class="client-accounts-table">
        <table>
            <thead>
            <tr>
                <th>Account Type</th>
                <th>Status</th>
                <th>Balance</th>
                <th><!-- Intentionally left blank for spacing --></th>
                <th>Household</th>
            </tr>
            </thead>
            <tbody>
             {% for account in client.accounts.all %}
                 <tr>
                     <td>{{ account.account_type_name }}</td>
                 <td>
                     {% if account.on_track == True%}
                         <span class="on-track">On track</span>
                     {% else %}
                        <span class="off-track">Off track</span>
                     {% endif %}
                 </td>
                 <td>${{ account.total_balance |bs_big_number }}</td>
                 <td><!-- Intentionally left blank for spacing --></td>
                 {% if account.account_group %}
                    <td><a href="/composites/{{ account.account_group.pk }}">{{ account.account_group.name }}</a></td>
                 {% else %}
                     <td></td>
                 {% endif %}


                 </tr>
             {% endfor %}


            </tbody>
        </table>
    </div>

</div>

    <div class="profile-information">
    <h2>Profile Information</h2>
    <div class="columns">
        <div class="client-information-table">
            <table>
                <thead>
                <tr>
                    <th colspan="2">Client Information</th>
                </tr>
                </thead>
                <tbody>
                <tr class="member-since">
                    <td>Member since</td>
                    <td>{{ client.create_date | b_date }}</td>
                </tr>
                <tr class="date-of-birth">
                    <td>Date of birth</td>
                    <td>{{ client.date_of_birth | b_date}}</td>
                </tr>
                <tr class="age">
                    <td>Age</td>
                    <td>{{ client.age }}</td>
                </tr>
                <tr class="address-1">
                    <td>Address line 1</td>
                    <td>{{ client.address_line_1 }}</td>
                </tr>
                <tr class="address-2">
                    <td>Address line 2</td>
                    <td>{{ client.address_line_2 }}</td>
                </tr>
                <tr class="city">
                    <td>City</td>
                    <td>{{ client.city }}</td>
                </tr>
                <tr class="state">
                    <td>State</td>
                    <td>{{ client.state }}</td>
                </tr>
                <tr class="zip">
                    <td>Postcode</td>
                    <td>{{ client.post_code }}</td>
                </tr>
                <tr class="phone">
                    <td>Phone</td>
                    <td>{{ client.phone_number }}</td>
                </tr>
                <tr class="email">
                    <td>Email</td>
                    <td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="employment-and-income-table">
            <table>
                <thead>
                <tr>
                    <th colspan="2">Employment and Income</th>
                </tr>
                </thead>
                <tbody>
                <tr class="status">
                    <td>Employment status</td>
                    <td>{{ client.get_employment_status_display }}</td>
                </tr>
                <tr class="occupation">
                    <td>Occupation</td>
                    <td>{{ client.ocupation }}</td>
                </tr>
                <tr class="employer">
                    <td>Employer</td>
                    <td>{{ client.employer }}</td>
                </tr>
                <tr class="annual-income">
                    <td>Annual income</td>
                    <td>${{ client.income |bs_big_number }}</td>
                </tr>
                <tr class="liquid-net-worth">
                    <td>Liquid net worth</td>
                    <td>${{ client.net_worth |bs_big_number }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>

{% endblock %}
