{% extends "layouts/base.html" %}
{% load i18n %}
{% block nav_summary %} depressed {% endblock %}
{% block body_class %}composites index {% endblock %}
{% block main_content %}
{% include "advisor/firm-logo.html" %}
<div class="composites-index">

    <div class="composites-panel">
        <div class="header">
            <div class="new-composite">
                <a href="/composites/new">Create Household</a>
            </div>

            <h2>Overview</h2>
        </div>
        <div class="filters">
            <div class="composite-grouping">
                <select name="composite-grouping-select" id="compositeGroupingSelect" style="visibility: hidden;">
                    <option value="0" {% if  filter == "0" %}selected="selected"{% endif %}>View All</option>
                    <option value="1" {% if  filter == "1" %}selected="selected"{% endif %}>View Primary</option>
                    <option value="2" {% if  filter == "2" %}selected="selected"{% endif %}>View Secondary</option>
                </select>
            </div>
            <div class="composite-search">
                <input type="search" placeholder="Search" value="{{ search }}">
            </div>
        </div>
        <div class="totals">
            <div class="panel">
                <h4>Total AUM</h4>

                <p class="total_aum">${{ profile.total_balance }}</p>
            </div>
            <div class="panel">
                <h4>Total households</h4>

                <p class="total_composites">{{ profile.total_account_groups }}</p>
            </div>
            <div class="panel">
                <h4>Average balance</h4>

                <p class="average_balance">${{ profile.average_balance }}</p>
            </div>
        </div>
        <div class="body">
            <div class="loading">
                <div class="spinner">
  <div class="spinner-bg">
      <svg class="svg-circle-spinner" viewBox="0 0 70 70">
          <circle cx="35" cy="35" r="20" stroke-width="2.5" class="loading-spinner"></circle>
      </svg>
      <div class="speedometer-for-ie"></div>
  </div>
</div>

            </div>
            <ul id="dashboard">
                <li class="composites-table-header">
                    <div><a class="{% if sort_col == "name" %}active {{ sort_dir }}{% endif %}"              data-pjax="true" href="?filter={{ filter }}&amp;search={{ search }}&amp;sort_col=name&amp;sort_dir={{ sort_inverse }}">Name</a></div>
                    <div><a class="{% if sort_col == "goal_status" %}active {{ sort_dir }}{% endif %}"       data-pjax="true" href="?filter={{ filter }}&amp;search={{ search }}&amp;sort_col=goal_status&amp;sort_dir={{ sort_inverse }}">Status</a></div>
                    <div><a class="{% if sort_col == "current_balance" %}active {{ sort_dir }}{% endif %}"   data-pjax="true" href="?filter={{ filter }}&amp;search={{ search }}&amp;sort_col=current_balance&amp;sort_dir={{ sort_inverse }}">Total balance</a></div>
                    <div><a class="{% if sort_col == "return_percentage" %}active {{ sort_dir }}{% endif %}" data-pjax="true" href="?filter={{ filter }}&amp;search={{ search }}&amp;sort_col=return_percentage&amp;sort_dir={{ sort_inverse }}">Total return</a></div>
                    <div><a class="{% if sort_col == "allocation" %}active {{ sort_dir }}{% endif %}"        data-pjax="true" href="?filter={{ filter }}&amp;search={{ search }}&amp;sort_col=allocation&amp;sort_dir={{ sort_inverse }}">Stocks / Bonds</a></div>
                </li>
            {% for group in groups %}
                <li class="composites-table-row" data-composite-id="group.0">
                    <a data-track-location="Summary" data-track-name="Info" href="/composites/{{ group.0 }}">
                        <div>
                            <div class="composite-icon">
                                {% with group.1 as household %}
                                    {% include "advisor/household-icon.html" %}
                                {% endwith %}
                            </div>
                            <h4>{{ group.2 }}</h4>
                            <h5>{{ group.3 }}</h5>
                            <h6>{{ group.4 }}</h6>
                        </div>
                        <div>
                            <h4>
                                {% if group.5.on_track %}
                                    <span class="on-track">On track</span>
                                {% else %}
                                     <span class="off-track">Off track</span>
                                {% endif %}
                                </h4>
                        </div>
                        <div>
                            <h4>${{ group.6 }}</h4>
                        </div>
                        <div>
                            <h4>{{ group.7 }}%</h4>
                            <h5><span>Since</span>{{ group.8 }}</h5>
                        </div>
                        <div>
                            <h4>{{ group.10 }}% / {{ group.11 }}%</h4>
                        </div>
</a>
                </li>
            {% endfor %}

<div class="pager">
</div>

            </ul>
        </div>
    </div>
</div>

{% endblock %}