{% extends "layouts/base.html" %}
{% load i18n %}
{% block nav_clients %}depressed {% endblock %}
{% block main_content %}


<div class="client-invite client-invite-identity">
    <div class="progress-header">
    <ul>
        <li class="">
            Select Account Process
        </li>
        <li class="">
            Select Account Type
        </li>
        <li class="depressed">
            Enter Client Details
        </li>
        <li class="">
            Confirm
        </li>
    </ul>
    <div class="progress-bar client-details"></div>
</div>

    <h1>Enter your client's details</h1>

    <p class="main-body">Enter your client's name and email to invite them to open their account.</p>

    <form accept-charset="UTF-8" action="/advisor/client_invites/build/identity" class="simple_form edit_client_invite" id="edit_client_invite_2040" method="post" novalidate="novalidate"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="N2ZNb3o29+6bJvrFEWBfnDsNSuj+JGiBdtMBzIRMER4=" /></div>
        {% csrf_token %}
        <input type="hidden" value="{{ account_type }}" name="account_type">
        <input type="hidden" value="{{ invite_type_new_email }}" name="invite_type">
        <fieldset>
            <div class="input string optional client_invite_first_name">
                <label class="string optional control-label" for="client_invite_first_name">First Name</label>
                <input class="string optional" id="client_invite_first_name" name="first_name" type="text" value="{{ form.first_name.value |default:""}}">
                <span class="error">{{ form.first_name.errors }}</span>
            </div>
            <div class="input string optional client_invite_middle_initial">
                <label class="string optional control-label" for="client_invite_middle_initial">MI</label>
                <input class="string optional" id="client_invite_middle_initial" maxlength="1" name="middle_name" value="{{ form.middle_name.value|default:"" }}" size="1" type="text">
                <span class="error">{{ form.middle_name.errors }}</span>
            </div>
        </fieldset>
        <div class="input string optional client_invite_last_name">
            <label class="string optional control-label" for="client_invite_last_name">Last Name</label>
            <input class="string optional" id="client_invite_last_name" name="last_name" value="{{ form.last_name.value |default:""}}" type="text">
        <span class="error">{{ form.last_name.errors }}</span>
        </div>
        <div class="input email optional client_invite_email">
            <label class="email optional control-label" for="client_invite_email">Email Address</label>
            <input class="string email optional" id="client_invite_email" name="email" value="{{ form.email.value| default:"" }}" type="email">
        <span class="error">{{ form.email.errors }}</span>
        </div>
        <input class="btn submit" name="commit" type="submit" value="Continue" />

    </form>
    </div>


{% endblock %}



