{% extends "layouts_new/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load filters %}
{% load static from staticfiles %}

{% block css %}
  <link href="{% static 'css_new/loading_spinner.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
  <div class="container">
    <div class="row m-t">
      <div class="col-sm-6">
        {% include "firm/partials/menu-analytics.html" %}
      </div>

      <form>
        <!-- RESERVED
        {% comment %}
        <div class="col-sm-3">
          {% bootstrap_field filter.form.group show_label=False show_help=False %}
        </div>
        {% endcomment %}
        -->
        <div class="col-sm-offset-3 col-sm-3">
          {% bootstrap_field filter.form.worth show_label=False show_help=False %}
        </div>

        <!-- Semi-hidden fields -->
        <span class="hidden">
          {% bootstrap_field filter.form.risk show_label=False show_help=False %}
        </span>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-3">
        {% for item in risks %}
        <div onclick="onChangeRisk(event, {{ item.level }})" class="statcard statcard-analytics {% if item.level|stringformat:'i' in filter.form.risk.value %}statcard-primary{% else %}statcard-default{% endif %} {% if not forloop.first %}m-t{% endif %}">
          <div class="p-a">
            <span class="statcard-desc">{{ item.name }} <span class="icon icon-help-with-circle text-muted" data-toggle="tooltip" data-placement="right" title="Fill me with your feelings"></span></span>
            <h4>
              {{ item.value|currency }}
              <small>{{ item.value_percent|percentage100 }}</small>
            </h4>
          </div>
        </div>
        {% endfor %}
        <script>
          var onChangeRisk = function(event, value) {
            // loading spinner
            $('.loading').show();

            // multiple select
            // onclick, toggle event and value from select
            // id_risk_1: value = 0
            // id_risk_2: value = 20
            // id_risk_3: value = 40
            // id_risk_4: value = 60
            // id_risk_5: value = 80

            // pass if clicking on child elements
            if (event.target.tagName == 'A') { return; }


            function toggle_checked(id) {
              if ($(id).is(':checked')) {
                $(id).prop('checked', false);
              } else {
                $(id).prop('checked', true);
              }
            }

            if (value == 0) {
              toggle_checked("#id_risk_1");
            } else if (value == 20) {
              toggle_checked("#id_risk_2");
            } else if (value == 40) {
              toggle_checked("#id_risk_3");
            } else if (value == 60) {
              toggle_checked("#id_risk_4");
            } else if (value == 80) {
              toggle_checked("#id_risk_5");
            }

            $('#id_risk').closest('form').submit();

            // change "risk" form control manually
            // elemRisk = document.getElementById('id_risk');
            // event = document.createEvent('Event');
            // event.initEvent('change', true, false);

            // // set or clear (if click on "active" item) risk filter
            // elemRisk.value = value !== {{ filter.form.risk.value|safe }} ? value : null;
            // elemRisk.dispatchEvent(event);
          }
        </script>
      </div>

      <div class="col-sm-9 loading" style="display: none;">Loading&#8230;</div>

      <div class="col-sm-9" id='charts'>
        <div>
          <div>
            <canvas id="lineChartA" width="300" height="100"></canvas>
          </div>

          <div class="m-t-md">
            <h5>Segments</h5>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td width="33.3%" class="text-center">
                    <canvas id="doughnutChartA" width="100" height="100"></canvas>
                    <div>
                      Asset&nbsp;Class&nbsp;<span class="icon icon-help-with-circle text-muted" data-toggle="tooltip" data-placement="right" title="Fill me with your feelings"></span>
                    </div>
                  </td>
                  <td width="33.3%" class="text-center">
                    <canvas id="doughnutChartB" width="100" height="100"></canvas>
                    <div>
                      Region&nbsp;<span class="icon icon-help-with-circle text-muted" data-toggle="tooltip" data-placement="right" title="Fill me with your feelings"></span>
                    </div>
                  </td>
                  <td width="33.3%" class="text-center">
                    <canvas id="doughnutChartC" width="100" height="100"></canvas>
                    <div>
                      Investment Type&nbsp;<span class="icon icon-help-with-circle text-muted" data-toggle="tooltip" data-placement="right" title="Fill me with your feelings"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="m-t-md">
            <h5>Goal Analysis</h5>
            <canvas id="lineChartB" width="300" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% include "firm/partials/modal-analytics-metric.html" %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js_new/randomColor.js' %}" type="text/javascript"></script>
{% include "firm/partials/chart-worth.html" %}
{% include "firm/partials/chart-events.html" %}
{% include "firm/partials/chart-trinity.html" %}
{% endblock %}

