{% extends "layouts_new/base.html" %}
{% load i18n %}
{% load filters %}


{% block main_content %}
  <div class="container">
    {% include "advisor/logo.html" %}

    <div class="row">
      <div class="col-sm-9">
          <h3>Overview</h3>
      </div>

      <form>
        <div class="col-sm-3">
          <div class="form-group">
            <input type="search" name="search" placeholder="Search advisors..." value="{{ search }}" class="form-control">
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-4 m-b">
        <div class="statcard statcard-success">
          <div class="p-a">
            <span class="statcard-desc">Total AUM</span>
            <h2>
              {{ firm.total_balance|currency }}
              <!-- <small class="delta-indicator delta-positive">5%</small> -->
            </h2>
          </div>
        </div>
      </div>
      <div class="col-sm-4 m-b">
        <div class="statcard statcard-danger">
          <div class="p-a">
            <span class="statcard-desc">Total fees</span>
            <h2>
              {{ firm.total_fees|currency }}
              <!-- <small class="delta-indicator delta-negative">2%</small> -->
            </h2>
          </div>
        </div>
      </div>
      <div class="col-sm-4 m-b">
        <div class="statcard statcard-success">
          <div class="p-a">
            <span class="statcard-desc">Average balance</span>
            <h2>
              {{ firm.average_balance|currency }}
              <!-- <small class="delta-indicator delta-positive">3%</small> -->
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Balance</th>
              <th>Return</th>
              <th>Fee</th>
              <th>Last action</th>
            </tr>
          </thead>
          <tbody>
            {% for advisor in advisors %}
              <tr onclick="window.location='{% url 'firm:overview-advisor' advisor.0 %}'">
                <td>{{ advisor.0 }}</td>
                <td><a href="{% url 'firm:overview-advisor' advisor.0 %}">{{ advisor.2 }}</a></td>
                <td>{{ advisor.3|currency }}</td>
                <td><div>{{ advisor.4 }}%</div> <small class="text-muted"><span>since </span>{{ advisor.7 }}</small></td>
                <td><div>{{ advisor.5|currency }}</div> <small class="text-muted"><span>since </span>{{ advisor.7 }}</small></td>
                <td>{{ advisor.6 }}</td>
              </tr>
             {% empty %}
              <tr>
                <td colspan="6" class="text-center">
                  No entries
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- TODO: refactor -->
    <ul id="dashboard">
      {% for group in groups %}
        <li class="composites-table-row" data-composite-id="group.0">
          <a href="/composites/{{ group.0 }}">
            <div>
              <h4>
                {% with group.1 as household %}<span class="icon icon-users"></span>{% endwith %}
                {{ group.2 }}
              </h4>
              <h5>{{ group.3 }}</h5>
              <h6>{{ group.4 }}</h6>
            </div>
            <div>
              <h4>
                {% if group.5 %}
                  <span class="on-track">On track</span>
                {% else %}
                  <span class="off-track">Off track</span>
                {% endif %}
              </h4>
            </div>
            <div>
              <h4>${{ group.6     }}</h4>
            </div>
            <div>
              <h4>{{ group.7 }}%</h4>
              <h5><span>Since</span>{{ group.8 }}</h5>
            </div>
            <div>
              <h4>{{ group.10 }}% / {{ group.11 }}%</h4>
            </div>
          </a>
        </li>
      {% endfor %}
      <div class="pager">
      </div>
    </ul>

  </div>
{% endblock %}