{% extends "layouts/base.html" %}
{% load i18n %}
{% load app_filters %}
{% block firm_nav_users %}depressed {% endblock %}
{% block body_class %}composite_clients index{% endblock %}
{% block main_content %}

    <div class="composite-clients-index">
        {% include "advisor/firm-logo.html" %}

        <div class="return-link">
            <span class="modern-icon">›</span>
            <a href="/firm/users">Back to Users</a>
        </div>

        <div class="header">
            <h2>Confirm supervisor deletion</h2>
        </div>

        <div class="composite-clients-panel">
            <div class="body">
                Are you sure you want to delete the supervisor {{ object.email }}?
                    <form method="post" id="confirm_form">
                    {% csrf_token %}
                        <div class="composite-actions" style="margin-top: 40px;">
                                <a  class="warn"  href="javascript:{}" onclick="document.getElementById('confirm_form').submit(); return false;">Delete</a>
                                <a href="/firm/users">Cancel</a>
                        </div>
                    </form>
            </div>
        </div>
    </div>



{% endblock %}