{% extends "layouts/base.html" %}
{% load i18n %}
{% load app_filters %}
{% block firm_nav_users %}depressed {% endblock %}
{% block body_class %}composite_clients index{% endblock %}
{% block main_content %}

    <div class="composite-clients-index">
        {% include "advisor/firm-logo.html" %}

        <div class="return-link">
            <span class="modern-icon">›</span>
            <a href="/firm/users">Back to Users</a>
        </div>

        <div class="header">
            <h2>{% if object %}Edit Supervisor{% else %}Add New Supervisor{% endif %}</h2>
        </div>

        <div class="composite-clients-panel">
            <div class="body">
                {% if form %}

                    <!-- Display Form -->
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="input-group">
                                <label class="mylabel">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}

                                {% if field.help_text %}<p>{{ field.help_text }}</p>{% endif %}

                            </div>
                        {% endfor %}
                        <input type="submit">

                    </form>
                {% endif %}


            </div>
        </div>
    </div>



{% endblock %}