{% extends "layouts/base.html" %}
{% load i18n %}
{% block firm_nav_support %} depressed {% endblock %}
{% block main_content %}

<div id="content-main">
<div class="support">
    <div class="shared-header">
        <h1>Support</h1>
        <nav class="sub-nav">
            <div>
                <ul>
                    <li class="depressed">
                        <a href="/firm/support">Contact</a>
                    </li>
                    <li class="">
                        <a href="/firm/support/forms">Forms</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="contact">
        <div class="advisor-table">
            <table>
                <thead>
        <tr>
            <th colspan="2">Support for you</th>
        </tr>
        </thead>
        <tbody>
        <tr class="phone">
            <td><img alt="Phone" src="{{ STATIC_URL }}images/phone_45a018_68.png"></td>
            <td>1888-888-888</td>
        </tr>
        <tr class="email">
            <td><img alt="Email" src="{{ STATIC_URL }}images/envelope_45a018_68.png"></td>
            <td>support@betasmartz.com</td>
        </tr>
        <tr class="hours">
            <td><img alt="Clock" src="{{ STATIC_URL }}images/clock-o_45a018_68.png"></td>
            <td>
                Monday - Friday: 9AM - 8PM ET <br>
                Saturday - Sunday: 11AM - 6PM ET
            </td>
        </tr>
        </tbody>
    </table>
</div>

        <div class="client-table">
    <table>
        <thead>
        <tr>
            <th colspan="2">Support for your clients</th>
        </tr>
        </thead>
        <tbody>
        <tr class="phone">
            <td><img alt="Phone" src="{{ STATIC_URL }}images/phone_45a018_68.png"></td>
            <td>1888-888-888</td>
        </tr>
        <tr class="email">
            <td><img alt="Email" src="{{ STATIC_URL }}images/envelope_45a018_68.png"></td>
            <td>support@betasmartz.com</td>
        </tr>
        <tr class="hours">
            <td><img alt="Clock" src="{{ STATIC_URL }}images/clock-o_45a018_68.png"></td>
            <td>
                Monday - Friday: 9AM - 8PM ET <br>
                Saturday - Sunday: 11AM - 6PM ET
            </td>
        </tr>
        </tbody>
    </table>
</div>

    </div>
</div>

</div>
{% endblock %}



