{% extends "layouts_new/base.html" %}
{% load i18n %}
{% load filters %}


{% block main_content %}
  <div class="container">
    <div class="row m-t">
      <div class="col-sm-8">
          <!--h3 class="header">Support</h3 -->
      </div>
    </div>

    <div>
      {% include "firm/partials/menu-support.html" %}
    </div>

    <div class="panel panel-default m-t">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <td width="20%"></td>
              <td width="20%">Total fee</td>
              <td width="15%">Platform fee</td>
              <td width="15%">Firm fee</td>
              <td width="20%">Custom fee</td>
              <td width="20%"></td>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-middle">
              <th>Firm</th>
              <td class="text-danger">{{ fee|default:'125' }}&nbsp;bps</td>
              <td>25 bps</td>
              <td>100bps</td>
              <td><input type="text" class="form-control input-sm"></td>
              <td class="text-right"><button class="btn btn-primary btn-sm">Save</button></td>
            </tr>
            <tr class="tr-middle">
              <th>Adviser</th>
              <td class="text-danger">{{ fee|default:'105' }}&nbsp;bps</td>
              <td>25 bps</td>
              <td>100bps</td>
              <td><input type="text" class="form-control input-sm"></td>
              <td class="text-right"><button class="btn btn-primary btn-sm">Save</button></td>
            </tr>
            <tr class="tr-middle">
              <th>Client</th>
              <td class="text-danger">{{ fee|default:'145' }}&nbsp;bps</td>
              <td>25 bps</td>
              <td>100bps</td>
              <td><input type="text" class="form-control input-sm"></td>
              <td class="text-right"><button class="btn btn-primary btn-sm">Save</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
{% endblock %}
