{% extends "layouts_new/base.html" %}
{% load i18n %}
{% load filters %}
{% load static %}


{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div>
          {% include "advisor/partials/menu-clients.html" %}
        </div>
      </div>
      <div class="col-sm-3 text-sm-right">
        <div class="form-group">
          <a class="btn btn-primary-outline" href="{% url 'advisor:clients:invites-new' %}">Invite client</a>
        </div>
      </div>
    </div>

    <div class="row">
      <form>
        <div class="col-sm-4">
          <div class="form-group">
            <select name="filter" class="form-control" onchange="this.form.submit();">
                <option value="0">-- Type --</option>
                <option value="0" {% if  filter == "0" %}selected="selected"{% endif %}>All</option>
                <option value="1" {% if  filter == "1" %}selected="selected"{% endif %}>Primary</option>
                <option value="2" {% if  filter == "2" %}selected="selected"{% endif %}>Secondary</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
          <div class="form-group">
            <!-- TODO: refactor as django_filter form field -->
            <div class="input-group">
              <span class="input-group-addon" id="search"><span class="icon icon-magnifying-glass"></span></span>
              <input type="search" name="search" placeholder="Search clients..." value="{{ search }}" class="form-control" onchange="this.form.submit();" aria-describedby="search">
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Total balance</th>
              <th>Email</th>
              <th>Adviser relationship</th>
            </tr>
          </thead>
          <tbody>
            {% for client in clients %}
              <tr onclick="window.location='{% url 'advisor:clients:detail' client.0 %}'">
                <td>{{ client.0 }}</td>
                <td>
                  <div><a href="{% url 'advisor:clients:detail' client.0 %}">{{ client.1 }}</a></div>
                </td>
                <td>{{ client.2|currency }}</td>
                <td><a href="mailto:{{ client.3 }}">{{ client.3 }}</a></td>
                <td>{{ client.4 }}</td>
              </tr>
             {% empty %}
              <tr>
                <td colspan="4" class="text-center">
                  No entries
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% comment %}
    <table>
        <thead>
        <tr>
            <th><a class="{% if sort_col == "full_name" %}active {{ sort_dir }}{% endif %}" data-pjax="true" href="?filter={{ filter }}&amp;search={{ search }}&amp;sort_col=full_name&amp;sort_dir={{ sort_inverse }}">Name</a></th>
            <th><a class="{% if sort_col == "current_balance" %}active {{ sort_dir }}{% endif %}" data-pjax="true" href="?filter={{ filter }}&amp;search={{ search }}&amp;sort_col=current_balance&amp;sort_dir={{ sort_inverse }}">Total Balance</a></th>
            <th><a class="{% if sort_col == "email_address" %}active {{ sort_dir }}{% endif %}" data-pjax="true" href="?filter={{ filter }}&amp;search={{ search }}&amp;sort_col=email_address&amp;sort_dir={{ sort_inverse }}">Email Address</a></th>
            <th>Adviser Relationship</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
             <tr>
                 <td><a href="/advisor/client/{{ client.0 }}">{{ client.1 }}</a></td>
                 <td>${{ client.2  |bs_big_number}}</td>
                 <td><a href="mailto:{{ client.3 }}">{{ client.3 }}</a></td>
                 <td>{{ client.4 }}</td>
            </tr>
        {% endfor %}

        </tbody>

      <div class="pager">
      </div>
    </ul>
    {% endcomment %}

  </div>
{% endblock %}

<!-- TODO: remove it later -->
{% block main_js %}{% static 'js/client.js' %}{% endblock %}




