{% load static from staticfiles  %}
<footer class="main-footer m-t-lg" style='padding-top: 40px; padding-bottom: 10px;'>
  <div class="container disclosure">
    <div class="col-md-4">
      <p>
        <b>BetaSmartz® is made available through independent investment advisors and is sponsored by BetaSmartz Advisory LLC ("BetaSmartz"), an SEC Registered Investment Advisor. BetaSmartz is a subsidiary of BetaSmartz Global Pte. Ltd. ("BetaSmartz Global").</b>
      </p>
      <p>
        Unless otherwise specified, all return figures shown above are for illustrative purposes only, and are not actual customer or model returns. Actual returns will vary greatly and depend on personal and market circumstances.
      </p>
      <p>
        Brokerage products are offered by Apex Clearing Corporation, an SEC registered broker-dealer and member FINRA/SIPC.
      </p>
    </div>
    <div class="col-md-4">
      <p>Independent investment advisors and BetaSmartz are independent of each other and are not affiliated with, sponsored by, endorsed by, or supervised by each other.
      </p>
      <p>
        Investing in securities involves risks, and there is always the potential of losing money when you invest in securities. Before investing, consider your investment objectives and your independent investment advisor and BetaSmartz’s charges and expenses. Past performance does not guarantee future results, and the likelihood of investment outcomes are hypothetical in nature. See full disclosures for more information. Not an offer, solicitation of an offer, or advice to buy or sell securities in jurisdictions where BetaSmartz is not registered.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <b>This website is for investment professionals only. It is not intended for use by private investors.</b>
      </p>
      <p>
        Unauthorized access is prohibited. Usage is monitored.
      </p>
      <p>
        ©2016 BetaSmartz Global Pte. Ltd. All rights reserved. 
        BetaSmartz, RetireSmartz and Core-Satellite+ are trademarks of BetaSmartz Global Pte. Ltd.
      </p>
      <p>
        <a href="/privacy-policy">BetaSmartz Privacy Policy</a> | <a href="#">BetaSmartz Online Privacy</a> | <a href="#">Legal</a> | <a href="https://www.betasmartz.com/terms-and-conditions/">Terms of Use</a>
      </p>

      <p>
        Contact: BetaSmartz, 375 Park Avenue, Suite 2607, New York, NY, 10152. Tel: <a href="tel:0012126344832">212‑634‑4832</a>
      </p>
    </div>

    <div class='col-md-12'>
      <div class="powered-by">Powered by</div>
      <figure class="footer-logo text-center"><img src="{% static 'images/white_logo_mini.png' %}"
        alt="BetaSmartz" /></figure>
      <figcaption>©2016 BetaSmartz Global Pte. Ltd.</figcaption>
    </div>
  </div>
</footer>