<article class="modal">
    <section class="modal-header">
        <md-content md-theme="backGreen" layout="column" layout-align="center center">
                <div id="closebt-container" class="close-lightSpeedIn" flex>
                    <img class="closebt" src="/static/images/closebt.svg" ng-click="modal.dismiss()">
                </div>
                <div flex>
                    <h3 class="modal-title md-headline">Edit personal info</h3>
                </div>
        </md-content>

    </section>

    <section class="modal-body">

        <div class="modal-content">
            <form class="modal-form" name="personalInfoForm" novalidate>
                <div class="form-content" layout="column" >
                    <md-input-container class="md-block">
                        <label>Address</label>
                        <input ng-model="personalInfo.address_line_1">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Address 2</label>
                        <input ng-model="personalInfo.address_line_2">
                    </md-input-container>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>City</label>
                            <input ng-model="personalInfo.city">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>State</label>
                            <md-select ng-model="personalInfo.state">
                                <md-option ng-repeat="rep_state in personalInfo.states_codes"
                                           ng-value="rep_state.db_value">
                                    {{rep_state.name}}
                                </md-option>

                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Postal Code</label>
                            <input name="postalCode" ng-model="personalInfo.post_code" placeholder="1234" required=""
                                   ng-pattern="/^[0-9]{4}$/" md-maxlength="4">

                            <div ng-messages="personalInfoForm.postalCode.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                    code.
                                </div>
                                <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                </div>
                            </div>
                        </md-input-container>
                    </div>


                    <div class="form-input" ng-class="personalInfo.phone?'input-filled':''">
                        <input id="field_phone" type="text" ng-model="personalInfo.phone" required>
                        <label for="field_phone"><span class="content">Phone</span></label>
                    </div>
                    <div class="form-input" ng-class="personalInfo.employment_status?'input-filled':''">
                        <input id="field_employment_status" type="text" ng-model="personalInfo.employment_status">
                        <label for="field_employment_status"><span class="content">Employment Status</span></label>
                    </div>
                    <div class="form-input" ng-class="personalInfo.income?'input-filled':''">
                        <input id="field_income" type="text" ng-model="personalInfo.income">
                        <label for="field_income"><span class="content">Annual income</span> </label>
                    </div>
                    <div class="form-input" ng-class="personalInfo.net_worth?'input-filled':''">
                        <input id="field_net_worth" type="text" ng-model="personalInfo.net_worth">
                        <label for="field_net_worth"><span class="content">Estimated Assets </span></label>
                    </div>
                </div>
            </form>
        </div>
    </section>
</article>