<div class="account-settings account-settings-profile" ng-controller="AccountSettingsProfileCtrl" layout="column">

            <div class="card user-info" flex>
                <div class="content" layout="column">
                    <h2>{{user.first_name}} {{user.middle_name}} {{user.last_name}}</h2>
                    <div layout="row">
                            <md-list>
                                <md-list-item>{{user.email}}</md-list-item>
                            </md-list>
                            <md-divider></md-divider>
                            <md-list>
                                <a href="/app/email_change/new">Change email</a>
                            </md-list>
                            <md-divider></md-divider>
                            <md-list>
                                <a  href="/app/password_change/new">Change password</a>
                            </md-list>



                    </div>

                </div>

            </div>
            <div class="content-grid" layout-gt-sm="row">
                <div class="card personal-info-card" flex>
                    <div layout="column">
                        <md-toolbar><span class="md-headline"> Personal Profile</span></md-toolbar>

                        <md-list class="card-content">
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>Address 1</h3>
                                    <p>{{personalInfo.address_line_1}}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>Address 2</h3>
                                    <p>{{personalInfo.address_line_2}}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>City</h3>
                                    <p>{{personalInfo.city}}</p>
                                </div>
                                <md-divider ></md-divider>
                            </md-list-item>

                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>State</h3>
                                    <p>{{personalInfo.state}}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>


                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>Zip</h3>
                                    <p>{{personalInfo.post_code}}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>


                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>phone</h3>
                                    <p>{{personalInfo.phone}}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>


                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>Employment status</h3>
                                    <p>{{personalInfo.employment_status}}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>Annual income</h3>
                                    <p>{{personalInfo.income}}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>

                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <h3>Estimated investable assets</h3>
                                    <p>{{personalInfo.net_worth}}</p>
                                </div>
                            </md-list-item>

                        </md-list>

                    </div>
                </div>
                <div class="card retirement-card" flex>
                    <div layout="column">
                        <md-toolbar><span class="md-headline"> RetireSmartz</span></md-toolbar>

                    </div>
                </div>

            </div>

            <!--
            <md-grid-tile md-colspan="1">
                <div class="right">

                    <div class="section retire-guide">
                        <h2>
                            RetireGuide

                    <span class="css-tooltip"><span class="css-tooltip-label ">
                        <span class="help-icon"></span>
                        <div class="css-tooltip-wrapper">
                            <span class="css-tooltip-body">
                            RetireGuide is a retirement planning tool available on the Advice tab.  If you
                            decide not to use this tool you can disable it which will clear your plan and
                            hide it from your account.
                            </span></div></span></span>
                            <a class="button" data-disable-target=".settings" data-disable="true" data-method="delete" data-remote="true" data-track-event="ElementClicked" data-track-location="Profile" data-track-module="Webapp" data-track-name="DisableRetireGuide" data-track-type="Button" href="/app/retire_guide_status" rel="nofollow">Disable</a>
                        </h2>

                        <div>
                            <span>Status</span>
                            <span>Available</span>
                        </div>
                    </div>
                </div>
            </md-grid-tile>


        </md-grid-list>-->





</div>