<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" style=
    "background-color:#ffffff" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width=
                    "100%">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" style=
                                    "border:1px solid #dddddd;background-color:#ffffff;margin-top:10px;margin-bottom:10px"
                                    width="809">
                                        <tbody>
                                            <tr>
                                                <td align="left" colspan="1"
                                                height="40" style=
                                                "background-color:#ffffff;font-size:12px;color:#787878;font-family:Helvetica;padding:10px 10px 10px 56px;border-bottom:1px solid #dddddd"
                                                valign="middle" width="50%">
                                                    <div style=
                                                    "font-size:14px;font-weight:bold;color:#787878">
                                                    <a href="http://www.betasmartz.com"
                                                        target=
                                                        "_blank" style="
    color: #787878;
    text-decoration: none;
    font-size: 20px;
">BetaSmartz</a>
                                                    </div>
                                                </td>

                                                <td align="right" colspan="1"
                                                height="40" style=
                                                "background-color:#ffffff;font-size:12px;color:#787878;font-family:Helvetica;padding:10px 56px 10px 10px;border-bottom:1px solid #dddddd"
                                                valign="middle" width="50%">
                                                    <div style=
                                                    "font-size:14px;font-weight:none;color:#787878">

                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left" colspan="2"
                                                style=
                                                "font-family:Helvetica;color:#313131;background-color:#ffffff"
                                                width="806px">
                                                    <div style=
                                                    "text-align:left;padding:14px 14px 14px 54px;background-color:#efefef;color:#6c6c6c">
                                                    {{ subject }}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left" colspan="2"
                                                style=
                                                "padding:22px 56px 22px 56px;font-family:Helvetica;color:#313131;line-height:1.5em;background-color:#ffffff"
                                                width="806px">
                                                    <div style=
                                                    "text-align:left;padding:4px 0px 4px 4px;background-color:#ffffff">
                                                    <span style=
                                                    "font-size:15px;color:#313131">
                                                        </span>

                                                        <p><span style=
                                                        "font-size:15px;color:#313131">
                                                        </span></p>
                                                        <span style=
                                                        "font-size:15px;color:#313131">
                                                            {% block message %} {% endblock %}


                                                        <p><span style=
                                                        "font-size:15px;color:#313131">
                                                        </span></p>

                                                        <p><span style=
                                                        "font-size:15px;color:#313131">
                                                        --BetaSmartz Team</span></p><span style="font-size:15px;color:#313131">,<br>

                                                        <br></span>

                                                        <p><span style=
                                                        "font-size:15px;color:#313131">
                                                        </span></p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>